.contract-page {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.contract-page--title {
    background-color: $darkblue;
    color: white;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contract-page--wrapper {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: flex-start;
    margin: 0 auto;
}

.contract-page--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $darkblue;
    margin: 0 auto;
    padding: 2px;
    height: 50px;
    width: 100%;
}

.contract-page--menu-button {
    box-sizing: border-box;
    color: white;
    background-color: $buttoncolor;
    border: none;
    padding: 11px;
    height: 100%;
    font-size: $m-size;
    width: 100%;
}

.contract-page--menu a {
    width: 20%;
    height: 100%;
}

.contract-page--menu-button:hover {
    background-color: $buttonhover;
}

.delte-button {
    box-sizing: border-box;
    color: white;
    background-color: $buttoncolor;
    border: none;
    padding: 11px;
    font-size: $m-size;
    width: 20%;
}

.add-invoice-page {
    background-color: $darkblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.edit-invoice-page {
    background-color: $darkblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.invoice-form {
    background-color: $darkblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    color: white;
}

.invoice-form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.invoice-form input {
    background: none;
    border: none;
    border-bottom: 1px solid $gray;
    padding: 15px;
    margin-top: 15px;
    border-radius: 0px;
    box-shadow: none;
    color: white;
}

.invoice-form button {
    color: white;
    background-color: $buttoncolor;
    border: none;
    padding: 11px;
    margin-top: 26px;
    font-size: $m-size;
}

.invoice-form button:hover {
    background-color: $buttonhover;
}

.table-wrapper {
    height: 52vh;
    width: 1000px;
    margin: 10px auto 0;
    overflow-y: scroll;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: $buttoncolor;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: $buttonhover;
}

.table-wrapper::-webkit-scrollbar {
    background-color: $darkblue;
}

table {
    color: white;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
}

.table-titles {
    background-color: $darkblue;
}

.table-titles th {
    padding: 10px;
}

table td {
    padding: 5px;
}

table .first-td {
    word-break: break-all;
}

table button {
    color: white;
    background-color: $buttoncolor;
    border: none;
    padding: 11px;
    font-size: $m-size;
    margin: 0 10px;
}

table button:hover {
    background-color: $buttonhover;
}